# Output of 'npm pack'
*.tgz

# Yarm Intergrity file
.yarn-Intergrity

# dotenv environment variables file
.env
.env.test
.env.dev  

# parcel-bundler cache 
.cache
.parcel-cache

# Next.js bukld output
.next  
out

# Nuxt.js build / generate output
.nuxt  
dist  

node_modules/
